body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #333;
}
body *,
body *:before,
body *:after {
  box-sizing: border-box;
}
a {
  color: seagreen;
  text-decoration: none;
}

#map {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 12px;
  width: 220px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 999;

  background-color: rgba(255,255,255,0.8);
  backdrop-filter: blur(8px);
  border-right: 1px solid #ccc;
}
#audio {
  visibility: hidden;
}

#menu > div:nth-child(5) {
  display: none !important;
}
#menu > * {
  margin-bottom: 36px;
}
#menu #nav-toggle {
  display: none;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 36px;
  height: 36px;
  line-height: 30px;
  font-size: 30px;
  text-align: center;
  margin: 0;
  cursor: pointer;
}
#menu h1 {
  margin: 0;
  padding-bottom: 12px;
  font-size: 18px;
  line-height: 1.1;
  text-shadow: 2px 2px 0 palegreen;
  cursor: pointer;
}

.subtitle {
  margin: 0;
  padding-bottom: 12px;
  font-size: 19px;
  line-height: 1.1;
  text-shadow: 2px 2px 0 palegreen;
  font-size:16px;
}

#menu hr {
  margin: 0;
  border: 0;
  border-bottom: 1px solid #ccc;
}

#menu hr + div {
  margin-top: 36px;
}
#menu h2 {
  margin: 0;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
#menu ul {
  padding: 0;
  margin: 4px 0;
  list-style: none;
}
#menu a {
  display: block;
  margin: 8px 0;
  padding: 4px 8px;
  font-size: 14px;
  text-decoration: none;
  color: seagreen;
  border-radius: 3px;
}
#menu .active {
  color: white;
  background-color: seagreen;
}
@media only screen and (max-width: 560px) {
  #menu {
    width: 100%;
    bottom: auto;
    border-right: 0;
    padding-bottom: 4px;
  }
  #menu.active {
    padding-bottom: 12px;
  }
  #menu h1 {
    margin-right: 48px;
  }
  #menu #nav-toggle {
    display: block;
  }
  #menu #nav-toggle span:first-child {
    display: block;
  }
  #menu #nav-toggle span:last-child {
    display: none;
  }
  #menu.active #nav-toggle span:first-child {
    display: none;
  }
  #menu.active #nav-toggle span:last-child {
    display: block;
  }
  #menu div,
  #menu hr {
    display: none;
  }
  #menu.active div,
  #menu.active hr {
    display: block;
  }
}

#about-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
#about-text {
  position: absolute;
  top: 0;
  left: 220px;
  bottom: 0;
  padding: 24px;
  width: auto;
  max-width: 640px;
  z-index: 999;
  overflow-x: hidden;
  overflow-y: auto;
  visibility: hidden !important;

  background-color: rgba(255,255,255,0.8);
  backdrop-filter: blur(8px);
  border-right: 1px solid #ccc;
}
#about-text.active {
  visibility: visible !important;
}
@media only screen and (max-width: 560px) {
  #about-text {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255,255,255,1);
  }
}

.mapboxgl-popup-content img {
  max-width: 420px;
  max-height: 420px;
}
.mapboxgl-popup-content h4,
.mapboxgl-popup-content p:last-child {
  margin-bottom: 0;
}
.mapboxgl-popup-content p {
  margin-top: 0;
}

/* MODAL AND GALLERY */
#images-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 12px;
  padding: 0 0 0 220px;
  visibility: hidden !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 560px) {
  #images-modal {
    padding: 0;
  }
}
#images-modal.active {
  visibility: visible !important;
}
#images-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.modal-inner {
  position: relative;
  padding: 24px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  max-width: 80vw;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
[id $= '-ow'] {
  display: flex;
  flex-direction: column;
  justify-content: center;

  z-index: 999;
}
[id $= '-ow'] img {
  max-width: 100%;
  max-height: 70vh;
}
.tns-outer {
  display: none;
}
.tns-outer.active {
  display: flex;
}
.tns-item {
  text-align: left;
}
.tns-item h4,
.tns-item p:last-child {
  margin-bottom: 0;
  width: 70%;
}
.tns-item p {
  margin-top: 0;
  width: 70%;
}
.tns-controls {
  width: 30%;
  position: absolute;
  bottom: 24px;
  right: 24px;
  text-align: right;
}
.tns-controls button {
  margin-left: 8px;
  border: 0;
  font-size: 16px;
  line-height: 36px;
  width: 36px;
  border-radius: 50%;
}
.tns-controls button:focus {
  outline: none;
}

/* OVERLAY SLIDER */
#map-overlay {
  position: absolute;
  width: 360px;
  bottom: 0;
  left: 220px;
  visibility: hidden;
}
@media only screen and (max-width: 560px) {
  #map-overlay {
    left: 0;
  }
}
#map-overlay.active {
  visibility: visible;
}
#map-overlay .map-overlay-inner {
  background-color: rgba(255,255,255,0.8);
  backdrop-filter: blur(8px);
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  padding: 12px;
}
#map-overlay h2 {
  line-height: 24px;
  font-size: 1rem;
  display: block;
  margin: 0 0 10px;
}
#map-overlay input {
  background-color: transparent;
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0;
  cursor: ew-resize;
}
